{% extends 'base_bis.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Style_Inscription.css') }}">
{% endblock %}


{% block body %}
  <div class="container header">
    <div class="row justify-content-center align-items-center header">
      <h1>Bienvenue sur votre générateur de menus !</h1> 
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 img-block">
        <div class="row justify-content-center test-row">
          <div class="col-md-7 img-container">
            <a href="{{ path('home') }}"><img src="{{ asset('images/16113.png') }}" class="img-custom" alt="logo miam"></a>
          </div>
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="row justify-content-center">
          <div class="col-md-7 form-container">
            {{ form_start(form) }}

              <p class="form-text">Création de votre compte </p>
    
              <div class="form-row">
                  <div class="form-group col-md-6">
                    {{ form_row(form.firstname, {'label' : 'Prénom :', 'attr': {'class': 'form-control', 'placeholder' : 'Entrez votre nom'}, }) }}
              </div>
                  <div class="form-group col-md-6">
                    {{ form_row(form.lastname, {'label' : 'Nom :', 'attr': {'class': 'form-control', 'placeholder' : 'Entrez votre prénom'}, }) }}
                  </div>
                </div>
    
                <div class="form-row">
                  <div class="form-group col-md-6">
                    {{ form_row(form.weigth, {'label' : 'Poids (en kg) :', 'attr': {'class': 'form-control', 'placeholder' : 'Indiquez votre poids'}, }) }}
                  </div>
                  <div class="form-group col-md-6">
                    {{ form_row(form.heigth, {'label' : 'Taille (en cm) :', 'attr': {'class': 'form-control', 'placeholder' : 'Indiquez votre taille'}, }) }}
                  </div>
                </div>
    
    
              <div class="form-group">
                {{ form_row(form.email, {'label' : 'Adresse mail :', 'attr': {'class': 'form-control', 'placeholder' : 'Veuillez entrer votre adresse mail'}, }) }}
              </div>
    
              <div class="form-group">
                {{ form_row(form.password, {'label' : 'Mot de passe :', 'attr': {'class': 'form-control', 'placeholder' : 'Veuillez entrer votre mot de passe'}, }) }}
              </div>
    
              <div class="form-group">
                  {{ form_row(form.confirm_password, {'label' : 'Confirmation du mot de passe :', 'attr': {'class': 'form-control', 'placeholder' : 'Veuillez entrer à nouveau votre mot de passe'}, }) }}
                  
              </div>

              <div class="form-group">
                  {{ form_row(form.accept_policy, {'label' : 'Vous acceptez la politique de confidentialité' }) }}
                  
              </div>

              <div class="text-center">
                  <button type="submit" class="btn btn-primary">Je m'inscris</button>
              </div>
              
              
                  

              
                      </div>
                  </div>
              </div>
              
              {{ form_end(form) }}
          </div>
        </div>
       
      </div>
    </div>

  </div>
{% endblock %}
